<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 LOGIN
 <div th:if="${param.error}">
     Invalid username or password.
 </div>
 <p th:if="${param.verified}">
     Your account was verified successfully. You can now log in.
 </p>
<form th:method="POST" th:action="@{/login}" th:object="${loginRequest}">
    <label>Username:</label>
    <input th:field="*{username}" >

    <label>Password:</label>
    <input th:field="*{password}" >

    <button type="submit">Login</button>
</form>

</body>
</html>